[submodule "OCA/odoo-pim"]
	path = OCA/odoo-pim
	url = git@github.com:OCA/odoo-pim.git
	branch = 14.0

[submodule "OCA/connector"]
	path = OCA/connector
	url = git@github.com:OCA/connector.git
	branch = 14.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 14.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 14.0

[submodule "akretion/sale-workflow"]
	path = akretion/sale-workflow
	url = git@github.com:akretion/sale-workflow.git
	branch = 14.0-pricelist-tax
