[submodule "OCA/odoo-pim"]
	path = OCA/odoo-pim
	url = git@github.com:OCA/odoo-pim.git
	branch = 14.0

[submodule "OCA/connector"]
	path = OCA/connector
	url = git@github.com:OCA/connector.git
	branch = 14.0
